# Best Practices

## Step 1

### Load Relevent Modules

In [3]:
import pandas as pd
import numpy as np
import os

## Step 2

### Load the Dataframe

In [4]:
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data, index=['rank1','rank2','rank3','rank4'])

## Step 3

### Check the dtypes of the columns

In [6]:
df.dtypes

Name    object
Age      int64
dtype: object

dtypes do not always align with what the column actually is and a misidentified dtype can inform us that something may be wrong and we need to look closer at that column. In other words this may mean we need to futher clean the data or just the data for that column

## Step 4

### Check the shape of the dataframe

In [7]:
df.shape

(4, 2)

We check the shape to ensure that the number of rows and columns aligns with expectations. If not we have an issue

## Step 5

### Clean the data

### Dealing with empty cells and None

Pandas will not peform any mathematical operations on columns with None or with an empty cell. However, if the cell is transformed into an NaN value than pandas will properly perform the operations and ignore the NaN values.

This is useful as many datasets will have NaN values in some cells and not in others but we still want to keep the row observation.